html
    head
        title Inicio
        link(rel="stylesheet", href="/styles/express.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div(class="contenedor")
            h2 Información usuario
            div
                li
                    img(class="std" src='https://displate.com/displates/2015-06-22/e6919e4fbcd5c0633f0b24bb457b0d5f.jpg?w=280&h=392' alt='Cuadro Mona Vader')
                li
                    h2 #{nombre}  #{apellido}
                    h3 #{telefono}
                    h3 #{genero}
                    h3 #{nacimiento}
                    h3 #{email}